# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.XpCriativa2D.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Jogos Digitais\6o Periodo (2021-1)\XP Criativa 3- 2D\PROTOTIPO0\XpCriativa2D\.idea\.idea.XpCriativa2D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
